$table-border-color: darkgray;

.search-page {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 2.5rem;
  overflow-y: auto;

  > .title {
    text-transform: uppercase;
    font-weight: 500;
  }
}

.filter {
  padding: 1rem 0;
}

.pricing-history {
  padding: 1rem 0;
}

.action-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .filter, .pricing-history {
    width: 100%;
  }

  @media (min-width: 768px) {
    justify-content: flex-end;
    .filter {
      width: 70%;
    }
    .pricing-history {
      width: 30%;
    }
  }
}

.sailings {
  background: whitesmoke;
  margin-bottom: 2rem;
  border-radius: 6px;

  .sailing-header {
    display: flex;
    flex-direction: row;
    height: 40px;

    > *:first-child {
      width: 20%;
      padding: 1rem 1rem 0;
    }

    .headers {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: row;

      .column {
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 0.6em;
        text-transform: uppercase;
      }

      &.cost-view-header {
        padding: 1rem 0 0 1rem;
      }
    }

    .schedule-view-header {
      font-size: 0.6em;
      color: #979797;

      .day {
        flex: 1;
        display: flex;
        align-items: flex-end;
        padding: 0 0 0.4rem 0.1rem;
        box-sizing: border-box;
        position: relative;

        &:not(:last-child) {
          border-right: 1px solid #e2e2e2;
        }

        &:nth-of-type(7n) {
          border-right-color: darkgray;
        }

        .icon {
          width: 12px;
          cursor: pointer;
        }

        .month {
          width: max-content;
          position: absolute;
          bottom: 22px;
          color: black;
          font-weight: bolder;
          z-index: 1;

          &.left {
            left: 4px;
          }

          &.right {
            right: 10px;
            text-align: right;
          }
        }
      }

      .sunday {
        color: orangered;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
    @media (min-width: 768px) {
      border-bottom: 1px solid $table-border-color;
      > *:first-child {
        border-right: 1px solid $table-border-color;
      }
    }
  }
}
